## Products Table

In [1]:
from database import Product, db, app
import json 
import pandas as pd

def create_product(name, discountPrice, price, stock, description, image):
  with app.app_context():
    product = Product(name=name, discountPrice=discountPrice, price=price, stock=stock, description=description, image=image)
    db.session.add(product)
    db.session.commit()
    
def import_products():
  f = open('products.json')
  products = json.load(f)
  for product in products:
    create_product(product['name'], product['discountPrice'], product['price'], product['stock'], product['description'], product['image'])

def create_db():
  with app.app_context():
    db.create_all()
    
def clean_db():
  with app.app_context():
    db.drop_all()
    
def initialize_db():
  clean_db()
  create_db()
  import_products()

def get_product(id):
  with app.app_context():
    return Product.query.get_or_404(id)
  
def get_products():
  with app.app_context():
    return Product.query.all()
  
def get_first_product():
  with app.app_context():
    return Product.query.first()  

def products_to_df():
  products = get_products()  
  return pd.DataFrame([product.__dict__ for product in products])

## Users Table

In [8]:
from database import User, db, app

def create_user(username, email, password):
  with app.app_context():
    user = User(username=username, email=email, password=password)
    db.session.add(user)
    db.session.commit()
    
def get_user(id):
  with app.app_context():
    return User.query.get_or_404(id)
    
def get_users():
  with app.app_context():
    return User.query.all()
get_users()

[User('test_user', 'minowak@kozminski.edu.pl'),
 User('admin', 'admin@localhost.com')]

In [5]:
import_products()

In [3]:
create_product(
  "Iphone 12", 
  1000, 
  1200, 
  10, 
  "Iphone 12", 
  "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-finish-unselect-gallery-1-202207_GEO_EMEA_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1662129044219"
  )

In [5]:
products_to_df()

,_sa_instance_state,discountPrice,stock,id,image,name,price,description
0,<sqlalchemy.orm.state.InstanceState object at ...,599.0,10,1,https://www.vedion.pl/pol_pl_Apple-iPhone-11-W...,iPhone 11,699.0,The iPhone 11 is the latest iPhone from Apple....
1,<sqlalchemy.orm.state.InstanceState object at ...,NaN,5,2,https://store.storeimages.cdn-apple.com/4668/a...,iPhone 11 Pro,999.0,The iPhone 11 Pro is the latest iPhone from Ap...
2,<sqlalchemy.orm.state.InstanceState object at ...,NaN,0,3,https://www.apple.com/newsroom/images/product/...,iPhone 11 Pro Max,1099.0,The iPhone 11 Pro Max is the latest iPhone fro...
3,<sqlalchemy.orm.state.InstanceState object at ...,NaN,10,4,https://v.wpimg.pl/ZGYyODMudSY4Gzl3Yg54M3tDbS0...,iPhone SE,399.0,The iPhone SE is the latest iPhone from Apple....
4,<sqlalchemy.orm.state.InstanceState object at ...,NaN,10,5,https://store.storeimages.cdn-apple.com/4668/a...,iPhone XR,599.0,The iPhone XR is the latest iPhone from Apple....
5,<sqlalchemy.orm.state.InstanceState object at ...,1000.0,10,6,https://store.storeimages.cdn-apple.com/4668/a...,Iphone 12,1200.0,Iphone 12